<div class="rewards-table">
  <h1>Sistema de Recompensas Khan Academy</h1>
  <table mat-table [dataSource]="rewards" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let reward">{{reward.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="ra">
      <th mat-header-cell *matHeaderCellDef>RA</th>
      <td mat-cell *matCellDef="let reward">{{reward.ra}}</td>
    </ng-container>

    <ng-container matColumnDef="estrelasAtuais">
      <th mat-header-cell *matHeaderCellDef>Estrelas Atuais</th>
      <td mat-cell *matCellDef="let reward">{{reward.estrelasAtuais}}</td>
    </ng-container>

    <ng-container matColumnDef="estrelasAnteriores">
      <th mat-header-cell *matHeaderCellDef>Estrelas Anteriores</th>
      <td mat-cell *matCellDef="let reward">{{reward.estrelasAnteriores}}</td>
    </ng-container>

    <ng-container matColumnDef="saldoEstrelas">
      <th mat-header-cell *matHeaderCellDef>Saldo de Estrelas</th>
      <td mat-cell *matCellDef="let reward">{{getSaldoEstrelas(reward)}}</td>
    </ng-container>

    <ng-container matColumnDef="premiosColetados">
      <th mat-header-cell *matHeaderCellDef>Prêmios Coletados</th>
      <td mat-cell *matCellDef="let reward">{{reward.premiosColetados.join(', ')}}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let reward">
        <button mat-icon-button (click)="onEdit(reward)">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-fab color="primary" class="add-button" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>