<div class="hero">
    <div class="floating-icons-left">
        <img src="assets/trofeu.png" class="moving-image" alt="Imagem Troféu">
        <img src="assets/matematica.png" class="moving-image offset-left" alt="Imagem Matemática">
    </div>

    <div class="hero-content">
        <h2>Conquiste. Aprenda. Ganhe.</h2>
        <p>Transforme seu esforço em recompensas!</p>
    </div>

    <div class="floating-icons-right">
        <img src="assets/calculadora.png" class="moving-image" alt="Imagem Calculadora">
        <img src="assets/papel.png" class="moving-image offset-right" alt="Imagem Papel">
    </div>
</div>

<div class="how">
    <h1>Como funciona?</h1>
    <div class="columns">
        <div class="col-1">
            <img src="assets/lousa.png" class="moving-image" alt="Imagem Papel">
        </div>
        <div class="col-2">
            <div class="steps">
                <div class="step">
                    <p><span class="step-number">1.</span> Fazer o Khan Academy.</p>
                </div>
                <div class="step">
                    <p><span class="step-number">2.</span> Ter 85% de acerto.</p>
                </div>
                <div class="step">
                    <p><span class="step-number">3.</span> Resgate sua recompensa!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rewards">
    <h1>Recompensas</h1>
    <div class="rewards-grid">
        <div class="reward-card">
            <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="Material Escolar">
            <h3>Kit Material Escolar</h3>
            <p class="points">200 pontos</p>
            <button class="claim-btn">Resgatar</button>
        </div>

        <div class="reward-card">
            <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="Livro">
            <h3>Livro</h3>
            <p class="points">300 pontos</p>
            <button class="claim-btn">Resgatar</button>
        </div>

        <div class="reward-card">
            <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="Ingresso Cinema">
            <h3>Pix</h3>
            <p class="points">400 pontos</p>
            <button class="claim-btn">Resgatar</button>
        </div>

        <div class="reward-card">
            <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="Passeio Escolar">
            <h3>Chocolate</h3>
            <p class="points">500 pontos</p>
            <button class="claim-btn">Resgatar</button>
        </div>
    </div>
</div>